header {
  height: 180px;
  background-image: url(../img/pattern.png);
  background-color: #4ea1ff;
}

header img {
  height: 100px;
  padding-top: 60px;
}

h1 {
  margin-bottom: 0px;
}

a {
  font-style: normal;
  text-decoration: none;
}

div p {
  margin-top: 0px;
}

.small_text {
  font-size: 12px;
}

span {
  background-color: yellow;
}

ul {
  padding-left: 16px;
}

table {
  border-collapse: collapse;
}

th {
  color: #fff;
  background-color: #21a9e1;
}

.shots {
  background-color: #b1e6f2;
}

.w_50 {
  width: 50%;
}